fastapi==0.115.6
opencv-python-headless==4.10.0.84
pydantic==2.10.1
ray[serve]==2.45.0
# ray[default]
requests==2.32.3
ultralytics==8.3.51
python-multipart==0.0.20
gdown
scikit-learn
pygments
pexpect
timm
streamlit